<div class="{% if section.settings.include_margins %}page-width{% endif %} {{ section.settings.custom_class }}">
  {% if section.settings.custom_html != blank %}
  <div class="app_custom">
    {{ section.settings.custom_html }}
  </div>
  {% endif %}
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": false,
      "label": "t:sections.apps.settings.include_margins.label"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Custom HTML"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
