<div class="page-width">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Story",
  "tag": "section",
  "class": "spaced-section story-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    }
  ]
}
{% endschema %}
