{% if product.description != blank %}
<div id="read-more" class="section_product-description-wrap">
  {% if section.settings.heading != blank %}
  <h2 class="product-description__heading">{{ section.settings.heading | escape }}</h2>
  {% endif %}
  <div class="section_product-description-content">
  	{{ product.description }}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Product Description",
  "tag": "section",
  "class": "spaced-section section_product-description",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "产品详情",
      "label": "Heading"
    }
  ],
  "templates": ["product"],
  "presets": [
    {
      "name": "Product Description"
    }
  ]
}
{% endschema %}
