{{ 'component-timeline.css' | asset_url | stylesheet_tag }}

<div class="timeline__wrap">
  <div class="timeline__section-content">
    {% if section.settings.title != blank %}
    <h2 class="title{% if section.settings.striked-header %} striked-header{% endif %}"><span>{{ section.settings.title | escape }}</span></h2>
    {% endif %}
  </div>
  {{ section.blocks.size }}
  <div class="timeline__graph">
    <ul class="timeline">
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Timeline",
  "tag": "section",
  "class": "spaced-section timeline",
  "blocks": [
	{
      "name": "Timeline Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "timeline_direction",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "direction-l",
              "label": "Left"
            },
            {
              "value": "direction-r",
              "label": "Right"
            }
          ],
          "default": "direction-l"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "striked-header",
      "label": "Apply striked header styling",
      "default": false
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Timeline"
    }
  ]
}
{% endschema %}
