.timeline {
  position: relative;
}

.timeline > span {
  display: block;
  background-color: #A6192E;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
}

.timeline > span::before {
  display: block;
  content: ' ';
  background-color: #A6192E;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-left: -10px;
}

.timeline__item-wrap {
  display: flex;
}

.timeline__item {
  width: 50%;
}

.timeline__item-wrap.direction-l {
  justify-content: flex-end;
}

.timeline__item-wrap.direction-r {
  flex-direction: row-reverse;
}