/* In Social Custom Code */

:root {
  --color-red: #A6192E;
  --color-header-gold: #85714D;
  --color-light-beige: #D3C8C9;
  --color-forest-green: #215732;
  --color-price-green: #215732;
  --color-price-gold: #926427;
}

/* Image Render Fix */
img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

/* Button styles */
  
.button,
.shopify-payment-button button {
  border-radius: 1rem !important;
  font-weight: bold;
}
 
@media screen and (min-width: 750px) {
  .product-form__buttons .button,
  .shopify-payment-button button,
  .cart__checkout-button {
    font-size: 2.6rem;
  }
}
  
/* Price Styling */
  
.price__regular .price-item--regular,
.price__sale .price-item--sale {
  color: var(--color-price-green);
  font-weight: bold;
}
  
.price__sale .price-item--regular {
  color: var(--color-price-gold);
  font-weight: 500;
}
  
.price__badge-sale,
.badge.color-accent-2 {
  background-color: var(--color-price-green);
  border-color: var(--color-price-green);
  font-weight: bold;
  color: #fff;
}
  
/* Product Card Styling */
  
.card-information__text {
  font-size: 2rem;
}
  
.card-information__size {
  font-size: 1.8rem;
  font-weight: bold;
}
  
.card-information .price,
.card-information .price__sale {
  justify-content: center;
}
  
.card-information__view-product {
  color: var(--color-base-accent-1);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid var(--color-base-accent-1);
}
  
.card-information__view-product svg path {
  fill: var(--color-base-accent-1);
}
  
.card-information__view-product svg {
  height: 1.5rem;
  width: 1.5rem;
}
  
/* Header */
  
.gold-border {
  display: block !important;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #926427 0%, #E9B91A 27.08%, #B08123 56.77%, #F0C019 81.77%, #FBF2C8 100%);
}
  
@media screen and (max-width: 989px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .header__logo {
    max-width: 100px;
    line-height: 1;
  }
}

/* Striked Header */

.striked-header {
  margin: 3rem 0;
  width: 100%;
}

.striked-header {
  font-weight: 500;
  font-size: 2.6rem;
  text-align: center;
}
  
.striked-header:before {
  display: block;
  content: ' ';
  width: 100%;
  border-bottom: 2px solid var(--color-header-gold);
  margin-bottom: -18px;
}
  
.striked-header span {
  background-color: var(--color-background);
  padding: 0 15px;
}
  
.striked-header {
  padding: 30px 0;
}

/* Multicolumn Borderless with Overlay Section */
.multicolumn-card-borderless {
  position: relative;
}

.multicolumn-card-borderless .multicolumn-card__image-wrapper::before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 50%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 60.42%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1rem;
}

.multicolumn-card-borderless .multicolumn-card__info {
  position: absolute;
  top: 0;
  z-index: 2;
}

.multicolumn-card-borderless .multicolumn-card__info h3 {
  font-size: 2.6rem;
  font-weight: bold;
  color: #fff;
}

/* Multicolumn Plain Section */
  
.multicolumn-plain .title, 
.multicolumn-plain .title-wrapper-with-link {
  margin: 0;
  padding: 3rem 0 0;
}
  
.multicolumn-plain * {
  text-align: center;
}
  
.multicolumn-plain .multicolumn-card__info h3 {
  font-weight: bold;
  font-size: 2rem;
}
  
/* Featured Collection */

.collection .slider-mobile-gutter {
  margin-bottom: 5rem;
}
  
.emphasize_first_child {
  margin-bottom: 50px;
}
  
.emphasize_first_child > .grid__item {
  align-self: stretch;
  padding-bottom: 1rem;
}

.emphasize_first_child > .grid__item .card-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}

.emphasize_first_child > .grid__item:not(".grid__item:first-child") .card-image {
  margin-bottom: 1.6rem;
}
  
.emphasize_first_child .card-information__text {
  padding: 0 !important;
}
  
.emphasize_first_child > .grid__item:first-child {
  width: 50%;
  max-width: 50%;
}
  
.collection .center .button {
  font-weight: bold;
  font-size: 2.6rem;
  padding: 2.9rem 9.5rem;
  border-radius: 1rem;
}
  
@media screen and (min-width: 750px) {
  .emphasize_first_child > .grid__item:first-child .card-wrapper {
    display: flex;
    align-items: center;
  }

  .emphasize_first_child > .grid__item:first-child .card-wrapper > * {
    width: 50%;
  }
}

@media screen and (max-width: 749px) {
  .emphasize_first_child > .grid__item:first-child {
    width: 100%;
    max-width: 100%;
  }
}
  
/* Collage */
  
.collage-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
  overflow: hidden;
}

.collage-text > * {
  position: relative !important;
}
  
.collage-text .collage-card__title {
  padding: 3.5rem;
  font-size: 2.6rem;
  color: #fff;
  font-weight: bold;
  z-index: 2;
}
  
.collage-text .collage-card__image-wrapper {
  height: 40%;
  margin-bottom: 2.4rem;
}
  
.collage-text .collage-card__image-wrapper::before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 70%;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 60.42%, rgba(0, 0, 0, 0) 100%);
}
  
.collage-text .collage-card__text,
.collage-text .collage-card__button {
  height: auto;
  width: auto;
  padding: 0 3.5rem;
  margin-bottom: 2.4rem;
}
  
.collage-text .collage-card__button a.button {
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.8rem;
}
 
/* FAQ List - Accordion */
  
.faq-list {
  margin-bottom: 7.5rem !important;
}
  
.faq-list__item-title {
  color: var(--color-header-gold);
  margin-bottom: 3.2rem;
}

.faq-list__question {
  color: #000;
  cursor: pointer;
}
  
.faq-list__question,
.faq-list__item-title {
  text-transform: uppercase;
}
  
.faq-list__item-title {
  cursor: pointer;
  font-weight: 600;
}

.faq-list__block > div {
  border-bottom: 0.2rem solid var(--color-header-gold);
}

.faq-list__question {
  font-weight: bold;
  position: relative;
  padding-right: 3rem;
}

.faq-list__icon {
  position: absolute;
  top: 50%;
  right: 1.8rem;
  margin-top: -1.4rem;
}

.faq-list__icon svg {
  height: 1.8rem;
  width: 1.8rem;
  transition: transform 0.5s;
}

*[data-faq-status="active"] .faq-list__icon svg {
  transform: rotate(180deg);
}

.faq-list__answer {
  display: none;
}

*[data-faq-status="active"].faq-list__answer {
  display: block;
}
  
@media screen and (min-width: 750px) {
  .faq-list__item-title {
    font-size: 2.6rem;
  }
  
  .faq-list__question {
    font-size: 2.0rem;
  }
}
  
@media screen and (max-width: 749px) {
  .faq-list {
    margin-bottom: 5rem !important;
  }
}
  
/* Cart */
  
.caption-with-letter-spacing,
.cart-item__quantity .medium-down,
.title-wrapper-with-link a {
  font-size: 1.8rem;
  color: #000;
  font-weight: normal;
}
  
.cart__checkout-button {
  padding: 1em 2em;
}
  
.cart__items {
  border-bottom: 2px solid var(--color-header-gold);
}
  
@media screen and (min-width: 750px) {
  .cart-items th {
    border-bottom: 2px solid var(--color-header-gold);
  }
}
  
@media screen and (max-width: 749px) {
  .cart-items thead tr {
    border-bottom: 2px solid var(--color-header-gold);
  }
}
  
/* Product Page */
  
/* Product Image */
 
.page-product .product__media-wrapper modal-opener {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
  overflow: hidden;
  text-align: center;
}
  
@media screen and (min-width: 949px) {
  .page-product .product.grid {
    gap: 30px;
  }

  .page-product .product__media-wrapper {
    max-width: 530px !important;
  }

  .page-product .product__info-wrapper {
    width: auto !important;
    max-width: none !important;
  }
}
  
@media screen and (max-width: 750px) {
  .page-product .slider.slider--mobile {
    overflow-x: visible;
    margin-top: 50px;
  }
}
  
/* Product Title */
  
.page-product .product__title {
  font-size: 26px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-header-gold);
}
  
/* Product Price */

.page-product .price--large .price-item {
  font-size: 26px;
}
  
.page-product .price--large .badge {
  font-size: 20px;
  padding: 8px 24px;
}
  
/* Variant */

.page-product .product__info-container legend {
  font-size: 20px;
  font-weight: 500;
}
  
.page-product .product-form__input input[type=radio]+label {
  text-align: center;
  border-radius: 10px;
  border: 2px solid var(--color-light-beige);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  padding: 10px 34px;
  font-weight: 700;
}
  
.page-product .product-form__input input[type=radio]:checked+label {
  border-color: #000;
}
  
/* Read More */

.page-product .product__richtext {
  font-size: 20px;
}
  
.page-product .product__richtext a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  padding-bottom: 3px;
  border-bottom: 2px solid #000;
}
  
/* Qty */
  
.page-product .product-form__quantity {
  display: flex;
  align-items: center;
  gap: 25px;
}
  
.page-product .product-form__quantity label {
  font-size: 20px;
}
  
.page-product .product-form__quantity .quantity {
  border-radius: 10px;
  border: 2px solid var(--color-light-beige);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
  
.page-product .product-form__quantity .quantity__button[name="minus"] {
  border-right: 2px solid var(--color-light-beige);
}
  
.page-product .product-form__quantity .quantity__button[name="plus"] {
  border-left: 2px solid var(--color-light-beige);
}
  
.page-product .product-form__quantity .quantity__button svg {
  stroke: black;
}
  
.page-product .product-form__quantity .quantity__input {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
  
/* Add to Cart Button */
  
.page-product .product-form__buttons .button {
  padding-top: 26px;
  padding-bottom: 26px;
}
  
/* Product Description */

.page-product .section_product-description {
  background-color: #000;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

.product-description__heading {
  margin-top: 0;
  text-align: center;
  font-size: 26px;
  margin-bottom: 50px;
}
  
.product-description__heading span {
  color: #fff;
  font-weight: bold;
  padding: 0 24px 10px;
  border-bottom: 2px solid var(--color-header-gold);
}
  
.product-description__content {
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
  
.product-description__content iframe {
  margin-top: 30px;
  max-width: 100%;
}
  
@media screen and (min-width: 769px) {
  .page-product .section_product-description {
    background: url('https://cdn.shopify.com/s/files/1/0580/8445/8645/files/prod-desc-bg.png?v=1643752748') center center/110% auto no-repeat black;
  }
  
  .product-description__content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
  
/* Product Recommendations */
  
product-recommendations .card-wrapper {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
  
/* Footer */
  
.footer-block__heading {
  font-weight: bold;
  font-size: 2.6rem;
}
  
.footer-block__image-wrap img {
  max-width: 100%;
  height: auto;
}
  
.footer-block__social .list-social__link {
  padding: 0 0 0 1.3rem;
}
  
.footer-block__social .list-social__item:first-child .list-social__link {
  padding-left: 0;
}
  
.footer-block__social .list-social__item .icon {
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
  
.footer-block__social .list-social__item .icon path {
  fill: var(--color-header-gold);
}
  
.footer__content-bottom {
  border: none;
}
  
.footer__copyright {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: normal;
}
  
.footer__copyright > span::before {
  content: ' | ';
}
  
.footer__copyright > span:first-child::before {
  content: '';
}
  
.insocial-icon {
  display: inline-block;
  background: url('https://cdn.shopify.com/s/files/1/0580/8445/8645/files/in-social-logo-dark.png?v=1636059489') center center no-repeat transparent;
  height: 22px;
  width: 22px;
  margin-bottom: -6px;
}
  
@media screen and (min-width: 990px) {
  .grid--5-col-desktop .is_fb_widget {
    width: calc(20% - 1rem * 4 / 5 + 8%) !important;
  }
  .grid--5-col-desktop .is_narrow {
    width: calc(20% - 1rem * 4 / 5 - 8%) !important;
  }
}
 
@media screen and (min-width: 750px) and (max-width: 989px) {
  .grid--3-col-tablet .is_fb_widget {
    width: calc(33.33% - 1rem * 2 / 3 + 20%) !important;
  }
  .grid--3-col-tablet .is_narrow {
    width: calc(33.33% - 1rem * 2 / 3 - 20%) !important;
  }
}
  
@media screen and (max-width: 749px) {
  .is_narrow .footer-block__image-wrap {
    text-align: center !important;
  }
  .is_narrow .footer-block__image-wrap img {
    max-width: 150px !important;
  }
}
  
/* Locations Page */

#google-maps-iframe iframe {
  width: 100%;
  border: none;
  margin-bottom: -1rem;
}
  
#google-maps-iframe[data-map-iframe="all"] iframe {
  margin-top: -5rem;
  height: 53.3rem;
}
  
#google-maps-iframe {
  border: 0.2rem solid var(--color-header-gold);
  overflow: hidden;
}
  
.multicolumn-locations .title {
  color: var(--color-header-gold);
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 2.6rem;
}

.multicolumn-locations .title-wrapper-with-link {
  justify-content: space-around;
}
  
.multicolumn-locations .title-wrapper-with-link a.button {
  display: inline-block;
  color: #fff !important;
  font-size: 1.5rem;
  padding: 0.9rem 3rem;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
  
.multicolumn-locations .multicolumn-card {
  background-color: #fff !important;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
}
  
.multicolumn-locations .multicolumn-card__image-wrapper img {
  border-radius: 1rem;
  width: 100%;
}
  
.multicolumn-locations .multicolumn-card__info h3 {
  font-weight: bold;
}

.multicolumn-locations .multicolumn-card .rte {
  color: #000;
}
  
.multicolumn-locations .multicolumn-card .rte a {
  color: var(--color-forest-green);
}
  
.multicolumn-locations .multicolumn-card .button {
  width: 100%;
}
  
@media screen and (min-width: 750px) {
  .multicolumn-locations .grid {
    margin-left: 1rem;
  }
  
  .multicolumn-locations .grid--3-col-tablet .grid__item {
    margin-bottom: 1rem;
    flex-grow: initial !important;
  }
}
  
/* Contact Page - Form */
   
.contact.spaced-section {
  margin-top: 0;
  padding-top: 0;
}
  
.contact .contact__message {
  margin-bottom: 3rem;
}
  
.contact .text-area {
  min-height: 30rem;
}

.contact-form__box {
  background: #FFFFFF;
  border: 0.2rem solid var(--color-light-beige);
  box-sizing: border-box;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 4rem 5rem 5rem !important;
}
  
@media screen and (max-width: 899px) {
  .main-page-title {
    margin-bottom: 0;
  }
  .contact-form__box {
    margin: 0 1.6rem;
  }
}
  
@media screen and (max-width: 399px) {
  .contact__message {
    font-size: 1.8rem !important;
    margin-bottom: 1.2rem !important;
  }
  
  .contact-form__box {
    padding: 2rem 3rem 3rem !important;
  }
}
  
/* Legal Pages */
  
.shopify-policy__container {
  max-width: 120rem;
  margin-bottom: 5rem;
}
  
@media screen and (max-width: 500px) {
  .shopify-policy__container table,
  .shopify-policy__container table tr,
  .shopify-policy__container table td {
    display: block;
    width: 100%;
  }
}
  
/* Collection Pages */
  
.collection-hero__title {
  padding-bottom: 0;
  margin-bottom: 0;
}
  
.collection-grid-section {
  margin-bottom: 10rem;
}

.boxed-product-grid * {
  text-align: center;
}
  
.collection-grid-section .color-inverse,
.collection-grid-section .color-inverse * {
  color: #fff;
}

.boxed-product-grid .grid__item {
  padding-bottom: 1.6rem;
}
  
.boxed-product-grid .card-wrapper {
  background: #FFFFFF;
  border: 0.2rem solid var(--color-light-beige);
  box-sizing: border-box;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
}

.boxed-product-grid .card-information > .card-image {
  margin-bottom: 2.4rem;
}
  
.boxed-product-grid .card--product {
  border-radius: 1rem;
  overflow: hidden;
}
  
/* Story Page */
  
.story-page {
  margin-top: 0;
  padding: 50px 0;
}
  
.story-page .main-page-title {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin: 0.83em 0;
}
  
.story-page .rte p {
  line-height: 2;
}
  
/* Image with Text */
  
.our-process .image-with-text__content {
  padding: 0;
  margin-top: 30px;
}

@media screen and (min-width: 750px) {
  .our-process .image-with-text__content {
    margin-top: 0;
    padding-right: 60px;
  }
}

/* Awards section */
  
.story-awards .multicolumn__content-above-header * {
  font-weight: bold;
  text-align: center;
  color: var(--color-red) !important;
  font-size: 20px;
  margin: 0 15px 15px;
}
  
.story-awards h2.title {
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}
  
.story-awards .multicolumn-card-spacing {
  margin: 0 10px;
  padding: 10px 0;
}

.story-awards .multicolumn-card-spacing .media {
  padding-bottom: 100% !important;
}
  
.story-awards .multicolumn-card-spacing .media img {
  object-fit: contain;
}
  
.story-awards .multicolumn-card__info h3 {
  color: var(--color-forest-green) !important;
  font-weight: bold;
  font-size: 20px;
}

.story-awards .multicolumn-card__info .rte {
  font-size: 14px;
  line-height: 1.25;
}

@media screen and (min-width: 750px) {
  .story-awards .multicolumn__content-above-header * {
    font-size: 39px;
  }
}
  
/* Knowledge Page */
  
.multicolumn-card__info h3 > a {
  text-decoration: none;
  color: #fff;
}
  
/* Rich Text */
  
.color-background-3 {
  --color-background: #EAEAEA;
}

.rich-text.color-background-1 {
  margin-bottom: 0;
  padding-bottom: 50px;
}

.rich-text__blocks > *:first-child {
  margin-top: 0;
}
  
.rich-text__list_caption {
  display: flex;
  align-items: center;
  height: 120px;
  width: 120px;
  margin: 0 auto 16px;
  border-radius: 50%;
  border: 2px solid var(--color-header-gold);
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.rich-text__list_caption > span {
  padding: 20px;
  line-height: 1.25;
}
  
.rich-text__list_text {
  font-weight: bold;
  font-size: 20px;
  color: var(--color-header-gold);
  padding-left: 15px;
  margin-bottom: 16px;
  display: block;
}
  
.rich-text__text .heading {
  font-weight: bold;
  font-size: 26px;
  color: var(--color-header-gold);
}
  
.rich-text__video iframe {
  max-width: 100%;
}
  
@media screen and (min-width: 500px) {
  .rich-text__list {
    display: grid;
    grid-template-columns: 120px 2fr;
    align-items: center;
    grid-gap: 16px;
  }
  
  .rich-text__list_text {
    text-align: left;
  }
}
  
@media screen and (min-width: 990px) {
  .rich-text.color-background-1 {
    background: url('https://cdn.shopify.com/s/files/1/0580/8445/8645/files/background-1.png?v=1646422745') center top/contain repeat-y var(--color-background);
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  .rich-text.color-background-3 {
    background: url('https://cdn.shopify.com/s/files/1/0580/8445/8645/files/background-3.png?v=1646422753') center top/contain repeat-y var(--color-background);
  }

  .rich-text.color-inverse {
    background: url('https://cdn.shopify.com/s/files/1/0580/8445/8645/files/inverse.png?v=1646422763') center top/contain repeat-y var(--color-background);
  }

  .rich-text__list {
    max-width: 75%;
    margin: 30px auto;
  }
}
  
/* Blog List */
  
.main-blog .title--primary span,
.main-blog .title--primary a {
  font-weight: 500;
  font-size: 26px;
  color: var(--color-header-gold);
  text-decoration: none;
  margin: 0 10px;
}
  
.main-blog .title--primary .active {
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
  color: #000;
}
  
.blog-articles__article {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}
  
@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .blog-articles__article {
    grid-column: span 1 !important;
  }
  
  .blog-articles__article .article-card {
    background-color: transparent;
  }
  
  .blog-articles__article:first-child {
    grid-column: span 3 !important;
  }
  
  .blog-articles__article:first-child .article-content {
    flex-direction: row;
  }
  
  .blog-articles__article:first-child .article-content > * {
    width: 50%;
  }
}
  
/* Blog Post */
  
.article-sidebar > div {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
  border: 0.2rem solid var(--color-light-beige);
  width: 100%;
  padding: 1.5rem;
}
  
.article-blog-post > .page-width {
  padding: 5rem;
}
  
.article-blog-post .article-content {
  text-decoration: none;
}
  
.article-blog-post .article-card__image-wrapper,
.article-blog-post .article-template__hero-container {
  border-radius: 1rem;
  overflow: hidden;
}
  
.article-blog-post .article-card__title {
  font-size: 2rem;
}
  
.article-blog-post .article-card__link {
  color: var(--color-base-accent-1);
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}
  
.article-blog-post .article-card__link svg {
  height: 1.5rem;
  width: 1.5rem;
}
  
.article-blog-post .article-card__link svg path {
  fill: var(--color-base-accent-1);
}
  
@media screen and (min-width: 750px) {
  .article-blog-post > .page-width {
    display: flex;
    gap: 2.5rem;
  }

  .article-template {
    width: calc(100% - 400px);
  }

  .article-sidebar {
    flex-basis: 375px;
  }
  
  .article-blog-post .article-card {
    border-bottom: 2px solid var(--color-header-gold);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .article-blog-post .article-card:last-child {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
}